.formBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: .5rem;

    width: 100%;
    margin-top: -1.5rem;
}

.formBox .taskInput {
    min-width: 40%;
    padding: 1rem .75rem;

    background: var(--gray-500);
    border: 0;
    border-radius: 4px;

    box-shadow: 0 1px 3px rgba(0, 0, 0,0.6);
    outline: none;   
    color: var(--gray-200);
}

.formBox .createButton {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    padding: 1rem .5rem;

    font-weight: bold;
    color: var(--gray-100);
    background: var(--blue-dark);
    border-radius: 8px;
    font-size: 0.875rem;
    min-width: 5%;
}

@media (max-width: 768px){
    .formBox .taskInput {
        min-width: 55%;
    }

    .formBox .createButton {
        min-width: 15%;
    }
}